.filters-btn{
  padding: 8px 16px;
  font-size: 16px;
  margin-right: 24px;
  border-radius: 25px;
  border: 1px solid #6F6F6F;
  background-color: #373737;
  color: white;
  cursor: pointer;
}

.filters-btn:focus{
  background-color: white;
  color: black;
}

.filters{
  padding-left: 40px;
}